/**
*	Glitche - CV/Resume/Portfolio Template (HTML)
*	Version: 1.3
*	Author: beshleyua
*	Author URL: http://themeforest.net/user/beshleyua
*	Copyright © Cvio by beshleyua. All Rights Reserved.
**/

/* TABLE OF CONTENTS
	1. Template Dark
*/

/* 1. Template Dark */
.dark input:focus,
.dark textarea:focus,
.dark button:focus {
  color: #f0f0f0;
}
.dark input:focus::-webkit-input-placeholder,
.dark textarea:focus::-webkit-input-placeholder {
  color: #f0f0f0;
}
.dark input:focus:-moz-placeholder,
.dark textarea:focus:-moz-placeholder {
  color: #f0f0f0;
}
.dark input:focus::-moz-placeholder,
.dark textarea:focus::-moz-placeholder {
  color: #f0f0f0;
}
.dark input:focus:-ms-input-placeholder,
.dark textarea:focus:-ms-input-placeholder {
  color: #f0f0f0;
}
.dark body,
.dark .container .line {
  background: #26262d;
}
.dark table th,
.dark table td {
  border-color: #28282f;
}
.dark table,
.dark table th,
.dark table td {
  background: none;
}
.dark table th,
.dark table td {
  border-width: 1px;
}
.dark body,
.dark td,
.dark blockquote,
.dark .skills ul li .progress .percentage .percent,
.dark .category {
  color: #a2a2a6;
}
.dark input,
.dark textarea,
.dark button,
.dark a,
.dark .section .content .title .title_inner,
.dark .resume-items .resume-item .name,
.dark .service-items .service-item .name,
.dark .section.works .filters label,
.dark .single-post-text input[type="submit"],
.dark .post-comments .post-comment .desc .name,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .mfp-close-btn-in .mfp-close,
.dark .section.started .started-content .h-title,
.dark .content-sidebar h2.widget-title,
.dark .post-comments .post-comment .desc span.comment-reply a,
.dark .post-comments .post-comment .desc span.comment-reply,
.dark table th,
.dark p strong,
.dark footer .soc a .ion,
.dark a.btn,
.dark .btn,
.dark .skills ul li .name,
.dark .box-items .box-item .desc .name,
.dark .popup-box .desc h4 {
  color: #f0f0f0;
}
.dark .container,
.dark .section:before,
.dark .footer,
.dark header,
.dark .started-content .glitch-effect:before,
.dark .started-content .glitch-effect:after,
.dark .started-content .glitch-effect-white:before,
.dark .started-content .glitch-effect-white:after,
.dark header.fixed,
.dark header.opened,
.dark .footer.fixed,
.dark .popup-box,
.dark .preloader,
.dark .skills.circles .progress:after,
.dark footer {
  background: #31313a;
}
.dark .background-enabled .started-content .glitch-effect:before,
.dark .background-enabled .started-content .glitch-effect:after {
  background: transparent;
}
.dark .glitch-effect:before,
.dark .glitch-effect:after,
.dark .glitch-effect-white:before,
.dark .glitch-effect-white:after {
  background: transparent;
}
.dark .mfp-close-btn-in .mfp-close {
  background: #31313a !important;
  color: #fff !important;
}
.dark .section .content .title .title_inner,
.dark .box-items .box-item .category,
.dark .comment-info span.comment-reply,
.dark .content-sidebar span.screen-reader-text span,
.dark .content-sidebar h2.widget-title span,
.dark .popup-box .category {
  box-shadow: inset 0 -6px 0px #666666;
  -moz-box-shadow: inset 0 -6px 0px #666666;
  -webkit-box-shadow: inset 0 -6px 0px #666666;
  -khtml-box-shadow: inset 0 -6px 0px #666666;
}
.dark .skills ul li .progress,
.dark mark,
.dark ins,
.dark .skills.dotted ul li .progress .dg span,
.dark .skills.dotted ul li .progress .da span,
.dark .skills.circles .progress {
  background: #666666;
}
.dark .content-sidebar {
  background: #31313a;
}
.dark .content-sidebar .close,
.dark .post-comments ul.children {
  background: #3b3b42;
}
.dark .content-sidebar .close:before,
.dark .content-sidebar .close:after,
.dark .sidebar_btn span,
.dark .sidebar_btn span:before,
.dark .sidebar_btn span:after,
.dark .header .head-top .menu-btn span,
.dark .header .head-top .menu-btn:before,
.dark .header .head-top .menu-btn:after,
.dark header .head-top .menu-btn span,
.dark header .head-top .menu-btn:before,
.dark header .head-top .menu-btn:after {
  background: #f0f0f0;
}
.dark .search-form input.search-submit {
  filter: brightness(0) invert(1);
}
.dark .content-sidebar .widget ul li,
.dark .content-sidebar .widget ul li:last-child,
.dark .search-form input.search-field,
.dark .content-sidebar h2.widget-title,
.dark hr,
.dark .post-comments .post-comment,
.dark input,
.dark textarea,
.dark button {
  border-color: #666666;
}
.dark .navigation.post-navigation .nav-links a:hover {
  color: #dddddd;
}
.dark .sticky,
.dark pre {
  background-color: #3a3b44;
}
.dark header .head-top .top-menu-nav .sub-menu,
.dark header .head-top .top-menu-nav .children {
  background: #3e3f48;
}
.dark header .head-top .top-menu-nav .sub-menu:before,
.dark header .head-top .top-menu-nav .children:before {
  border-bottom-color: #3e3f48;
}
.dark header .head-top .top-menu-nav .sub-menu li .sub-menu:before,
.dark header .head-top .top-menu-nav .children li .children:before {
  border-right-color: #3e3f48;
}
.dark header .head-top .top-menu-nav .sub-menu li,
.dark header .head-top .top-menu-nav .children li {
  border-bottom-color: #666666;
}
.dark header .head-top .top-menu-nav .sub-menu li a,
.dark header .head-top .top-menu-nav .children li a {
  color: #a2a2a6;
}
.dark header .head-top .top-menu-nav .sub-menu li:hover a,
.dark header .head-top .top-menu-nav .children li:hover a {
  color: #f0f0f0;
}
.dark .post-comments ul.children ul.children {
  background: none;
}
@media (max-width: 840px) {
  .dark header .head-top .top-menu-nav .sub-menu li .sub-menu,
  .dark header .head-top .top-menu-nav .children li .children {
    background: #4a4b54;
  }
  .dark header .head-top .top-menu-nav .sub-menu li .sub-menu:before,
  .dark header .head-top .top-menu-nav .children li .children:before {
    border-bottom-color: #4a4b54;
  }
}
.dark .background-enabled header .head-top .top-menu-nav .sub-menu li a {
  color: #a2a2a6;
}
.dark .background-enabled header .head-top .top-menu-nav .sub-menu li a:hover {
  color: #a2a2a6;
  text-decoration: underline;
}
.dark .started-content .glitch-effect:before,
.dark .started-content .glitch-effect:after,
.dark .started-content .glitch-effect-white:before,
.dark .started-content .glitch-effect-white:after {
  background: transparent;
}
.dark .background-enabled .footer.fixed .soc a .ion {
  color: #dedede;
}
.dark header .logo a {
  color: #f0f0f0;
}
.dark .mfp-image-holder .mfp-close,
.dark .mfp-iframe-holder .mfp-close {
  background: none !important;
}
